@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Light
$--bg-color-light-primary: #ffffff;
$--bg-color-light-secondary: #f3f4f6;
$--hover-color-light: #f3f4f6;
$--text-secondary-light: #57534e;
$--bg-tertiary-light: #ececec;
$--bg-tertiary-hover-light: #f0f0f0;
$--menu-subtitle-light: #3c3a38;
$--separator-light: #ced0d4;
$--text-tertiary-light: #b1b1b1;
$--bg-post-light: #d8dadf;
$--text-comment-light: #787878;

// Dark mode
$--bg-color-dark-primary: #242526;
$--bg-color-dark-secondary: #18191a;
$--hover-color-dark: #404040;
$--text-secondary-dark: #e0e1e3;
$--bg-tertiary-dark: #323436;
$--bg-tertiary-hover-dark: #4e4f50;
$--menu-subtitle-dark: #b6b6b6;
$--separator-dark: #3e4042;
$--text-tertiary-dark: #b0b3b8;
$--bg-post-dark: #5a5c5c;
$--text-comment-dark: #cacaca;

.light-mode {
  .bg-primary {
    background-color: $--bg-color-light-primary;
  }
  .bg-secondary {
    background-color: $--bg-color-light-secondary;
  }
  .hover-color {
    background-color: $--hover-color-light;
  }
  .text-secondary {
    color: $--text-secondary-light;

    &::placeholder {
      color: $--text-secondary-light;
    }
  }
  .bg-tertiary {
    background-color: $--bg-tertiary-light;
  }
  .bg-tertiary-hover:hover {
    background-color: $--bg-tertiary-hover-light;
  }
  .menu-text {
    color: $--menu-subtitle-light;
  }
  .separator {
    border-color: $--separator-light;
  }
  .border-primary {
    border-color: $--bg-color-light-primary;
  }
  .text-tertiary {
    color: $--text-tertiary-light;
  }
  .text-comment {
    color: $--text-comment-light;
  }
  .bg-post,
  .bg-post-disabled:disabled {
    background-color: $--bg-post-light;
  }
  .profile-post {
    background: linear-gradient(
      0deg,
      $--bg-color-light-primary 50%,
      $--bg-tertiary-light 50%
    );
    padding: 0.5rem;

    img {
      border: 4px solid $--bg-color-light-primary;
    }
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba($color: #c3c3c3, $alpha: 1);
    border-radius: 10px;
    border: none;
  }
}

.dark-mode {
  .bg-primary {
    background-color: $--bg-color-dark-primary;
  }
  .bg-secondary {
    background-color: $--bg-color-dark-secondary;
  }
  .hover-color {
    background-color: $--hover-color-dark;
  }
  .text-secondary {
    color: $--text-secondary-dark;

    &::placeholder {
      color: $--text-secondary-dark;
    }
  }
  .bg-tertiary {
    background-color: $--bg-tertiary-dark;
  }
  .bg-tertiary-hover:hover {
    background-color: $--bg-tertiary-hover-dark;
  }
  .menu-text {
    color: $--menu-subtitle-dark;
  }
  .separator {
    border-color: $--separator-dark;
  }
  .border-primary {
    border-color: $--bg-color-dark-primary;
  }
  .text-tertiary {
    color: $--text-tertiary-dark;
  }
  .bg-post,
  .bg-post-disabled:disabled {
    background-color: $--bg-post-dark;
  }
  .text-comment {
    color: $--text-comment-dark;
  }
  .profile-post {
    background: linear-gradient(
      0deg,
      $--bg-color-dark-primary 50%,
      $--bg-tertiary-dark 50%
    );
    padding: 0.5rem;

    img {
      border: 4px solid $--bg-color-dark-primary;
    }
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba($color: #c3c3c3, $alpha: 0.3);
    border-radius: 10px;
    border: none;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition:
    background-color 0.3s,
    color 0.15s,
    border 0.3s;
}

html {
  overflow-y: scroll;
}

.no-scroll {
  height: 100vh;
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

select {
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 5px;
  background-color: white;
  border: 1px solid lightgray;
}

.active {
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #2563eb;
  transform-origin: bottom;
  transform: translateY(4px);
}

.story {
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.scale-image:hover {
  transition: all 1s;
  .story {
    transform: scale(1.02);
  }
}

.text-shadow {
  text-shadow: 1px 0px 2px #000;
}

.slider-img {
  transition: translate 300ms ease-in-out;
}

.slide-up-enter {
  transform: translateY(100%);
}

.slide-up-enter-active {
  transform: translateY(0);
  transition: transform 400ms;
}

.slide-up-exit {
  transform: translateY(0);
  opacity: 1;
}

.slide-up-exit-active {
  transform: translateY(0);
  opacity: 0;
  transition:
    opacity 200ms,
    transform 400ms;
}

.spinner {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #2563eb;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}

.loader {
  transform: translateY(2px);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  color: #fff;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow:
      -16px -12px,
      -6px 0,
      5px 0,
      14px 0;
  }
  33% {
    box-shadow:
      -16px 0px,
      -6px -12px,
      5px 0,
      14px 0;
  }
  66% {
    box-shadow:
      -16px 0px,
      -6px 0,
      5px -12px,
      14px 0;
  }
  100% {
    box-shadow:
      -16px 0,
      -6px 0,
      5px 0,
      14px -12px;
  }
}

.shake:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(0.25px, 0.25px) rotate(0deg);
  }
  10% {
    transform: translate(-0.25px, -0.5px) rotate(-0.25deg);
  }
  20% {
    transform: translate(-0.75px, 0px) rotate(0.25deg);
  }
  30% {
    transform: translate(0.75px, 0.5px) rotate(0deg);
  }
  40% {
    transform: translate(0.25px, -0.25px) rotate(0.25deg);
  }
  50% {
    transform: translate(-0.25px, 0.5px) rotate(-0.25deg);
  }
  60% {
    transform: translate(-0.75px, 0.25px) rotate(0deg);
  }
  70% {
    transform: translate(0.75px, 0.25px) rotate(-0.25deg);
  }
  80% {
    transform: translate(-0.25px, -0.25px) rotate(0.25deg);
  }
  90% {
    transform: translate(0.25px, 0.5px) rotate(0deg);
  }
  100% {
    transform: translate(0.25px, -0.5px) rotate(-0.25deg);
  }
}

.squish:hover > * {
  animation: squish 200ms ease-in-out;
}

@keyframes squish {
  50% {
    scale: 1.4 0.6;
  }
}

.loading {
  color: #ffffff;
  font-size: 20px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation:
    mltShdSpin 1.7s infinite ease,
    round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow:
      0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em,
      0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em,
      0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow:
      0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em,
      0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em,
      0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow:
      0 -0.83em 0 -0.4em,
      -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em,
      -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow:
      0 -0.83em 0 -0.4em,
      -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em,
      -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow:
      0 -0.83em 0 -0.4em,
      -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em,
      -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow:
      0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em,
      0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em,
      0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: rgba($color: #c3c3c3, $alpha: 1)
    rgba($color: #ffffff, $alpha: 0);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgba($color: #ffffff, $alpha: 0);
}
